# Required end-of-module assignment: Solving real-world problems with SQL
---

## Overview

In this assignment, you will bring together all the skills you have learned in Module 6.

This assignment is designed to build your familiarity and comfort coding in Python while also helping you review key topics from each module. As you progress through the assignment, questions will get increasingly more complex. It is important that you adopt a programmer's mindset when completing this activity. Remember to run your code from each cell before submitting your activity, as doing so will give you a chance to fix any errors before submitting.
 
Please refer to the database schemas provided in case you need more details about the database schema.
 
### Learning outcomes addressed
- Explore a new database.
- Develop complex queries incrementally.
- Interface with SQL databases from Python.



## Index:

- [Question 1](#Question-1)
- [Question 2](#Question-2)
- [Question 3](#Question-3)
- [Question 4](#Question-4)
- [Question 5](#Question-5)
- [Question 6](#Question-6)
- [Question 7](#Question-7)
- [Question 8](#Question-8)
- [Question 9](#Question-9)
- [Question 10](#Question-10)

Run the cell below to import the required Python libraries.

In [2]:
import pandas as pd
import psycopg2 as pg
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

SyntaxError: invalid syntax (2512051848.py, line 2)

Run the cell below to create a connection to the **dvdrental** database.

In [3]:
connection = pg.connect(host = 'localhost',
                        database = 'dvdrental',
                        user = 'postgres',
                        password = 'codio')

NameError: name 'pg' is not defined

###### [Back to top](#Index:) 

### Question 1

**Perform the following task using the `connection` defined above:**

- Create a **cursor** object from the `connection`.
- Use the cursor to **execute the following SQL query** stored in the variable `query` using the cursor's `execute` method.:
  ```sql
  SELECT * FROM customer LIMIT 5;
  ```
- Fetch the **first row only** from the result set using `.fetchone()`.
- Assign the result (a single tuple) to a variable named **`ans1`**.
- Close the cursor after fetching the result.

**Note:**
- Do not convert the result into a DataFrame. Simply return the raw row (a tuple) from the query.

In [ ]:
ans1 = None
query = 'SELECT * FROM customer LIMIT 5' 
### BEGIN SOLUTION
cursor = connection.cursor()
cursor.execute(query)
ans1 = cursor.fetchone()
cursor.close()
### END SOLUTION
#Answer test
print(ans1)

###### [Back to top](#Index:) 

### Question 2

**Perform the following tasks:**

- Using the **connection** defined above:
  - Execute the following SQL query using a cursor:
    ```sql
    SELECT * FROM film ORDER BY film_id DESC LIMIT 10;
    ```
  - Fetch **all** rows from the result set using `.fetchall()`.
  - Assign the result (a list of tuples) to a variable named **`ans2`**.
  - Close the cursor after fetching the data.

**Note:**  
- The output should be a list of tuples, where each tuple represents a row from the `film` table.

In [ ]:
ans2 = None
query = 'SELECT * FROM film ORDER BY film_id DESC LIMIT 10;'  
### BEGIN SOLUTION
cursor = connection.cursor()
cursor.execute(query)
ans2 = cursor.fetchall()
cursor.close()
### END SOLUTION
#Answer test
print(ans2)

###### [Back to top](#Index:) 

### Question 3

**Perform the following tasks:**

- Define a function called **`query`** that takes the following parameters:
  - `query`: SQL query string
  - `host`: the hostname (e.g., `'localhost'`)
  - `database`: name of the database to connect to
  - `user`: the database username
  - `password`: the password for the user

- Inside the function:
  - Create a connection to the database using `pg.connect()`.
  - Create a cursor from the connection.
  - Execute the query using the `.execute()` method.
  - Fetch **all** the results using the `.fetchall()` method.
  - Close the **cursor** before returning the results.
  - Optionally close the **connection** as well to free resources.

```python
def query(query, host, database, user, password):
    # Connect to the database    
    # Execute the query
    # Fetch all results
    # Close the cursor and connection
    # Return all results from the query
```


- Test your function by connecting to:
  - the `dvdrental` database
  - the `world` database
- Print results for sample queries from both.

In [ ]:
def query(query, host, database, user, password):       
### BEGIN SOLUTION
    connection = pg.connect(host = host,
                        database = database,
                        user = user,
                        password = password)
    cursor = connection.cursor()
    cursor.execute(query)
    returnResults = cursor.fetchall()
    cursor.close()
    return returnResults
### END SOLUTION
#Answer test
print(query("select count(*) from customer", "localhost", "dvdrental", "postgres", "codio"))
# Test using the world database
print(query("select count(*) from country", "localhost", "world", "postgres", "codio"))

###### [Back to top](#Index:) 

### Question 4

**Perform the following tasks:**

- Using the **dvdrental** database, write a SQL query to display the **top 10 customers** who have made the most rentals.
- Specifically:
  - Select the `customer_id` from the `customer` table and the total number of rentals they have made.
  - Perform an **INNER JOIN** between the `customer` and `rental` tables on `customer_id` to **include only customers who have made rentals**.
  - Use `COUNT(*)` to count the number of rentals per customer and label this column as `rental_count`.
  - Group the results by `customer.customer_id`.
  - Order the results in **descending order** of `rental_count`.
  - Limit the output to **10 records only**.
- Assign the SQL query string to a variable called `sql`.
- Use your previously defined `query()` function to execute the query and assign the output to a variable called `result`. The code for this point is already given.

**Hint:** Use a multi-line SQL string enclosed in triple quotes `'''` for readability. Like:

```python
sql = '''
your query here
'''
```

In [ ]:
sql = None        
### BEGIN SOLUTION
sql = '''SELECT customer.customer_id, COUNT(*) AS rental_count 
FROM customer INNER JOIN rental
ON rental.customer_id = customer.customer_id
GROUP BY customer.customer_id
ORDER BY rental_count DESC
LIMIT 10'''
### END SOLUTION
result = query(sql, "localhost" ,"dvdrental", "postgres", "codio")
print(result)

###### [Back to top](#Index:) 


### Question 5

**Perform the following tasks:**

- Using the **world** database, explore the potential relationship between life expectancy and gross national product (GNP) of countries.
- Follow the steps below:
  - Write a SQL query that selects the following two columns from the `country` table:
    - `lifeexpectancy`
    - `gnp`
- Use your previously defined `query()` function to execute this SQL query.
```python
query(sql, "localhost" ,"world", "postgres", "codio")
```
- Assign the result of the function call to a variable named **`life_gnp`**.

**Note:**  
Refer to the country table schema here for column names:  [World Database Country Table](https://dataedo.com/samples/html/World_PostgreSQL/doc/World_(PostgreSQL_database)_11/modules/World_database_diagram_106/tables/public_country_3939.html)

In [ ]:
import psycopg2 as pg

life_gnp = None
sql = None
### BEGIN SOLUTION
sql = "SELECT lifeexpectancy, gnp FROM country"
life_gnp = query(sql, "localhost" ,"world", "postgres", "codio") 
### END SOLUTION
#Answer test
print(life_gnp)

###### [Back to top](#Index:) 

### Question 6

**Perform the following tasks:**

- From the data stored in **`life_gnp`** (in task 5 - a list of tuples), extract individual columns using list comprehensions:
  - Create a list named **`lifes`** that contains only the life expectancy values (first element of each tuple).
  - Create a list named **`gnps`** that contains only the gross national product values (second element of each tuple).

**Hint:**  
Use list comprehension syntax.  
Example:  
```python
lifes = [x[0] for x in life_gnp]
```

In [ ]:
import psycopg2 as pg

lifes = None
gnps = None
### BEGIN SOLUTION
lifes = [x[0] for x in life_gnp]
gnps = [x[1] for x in life_gnp]
### END SOLUTION
#Answer test
print(lifes)
print(gnps)

###### [Back to top](#Index:) 

### Question 7

**Perform the following task:**

- Create a scatter plot of the data using `matplotlib`.
- Plot the data using:
  - The **x-axis** for the life expectancy values (`lifes`)
  - The **y-axis** for the gnp (gross national product) values (`gnps`)
- Label the axes:
  - X-axis as `'Life'`
  - Y-axis as `'GNP'`
- Save the plot as `"results/plot7.png"`

**Note:**  
- Do **not** add or update any other attributes (such as title, grid, color, style, etc.) unless specified in a later task.
- Ensure the output file is saved with the **exact** filename and path as mentioned.
- The plot will be **strictly validated**, and additional attributes or incorrect filenames may lead to validation issues.

In [ ]:
import psycopg2 as pg
import matplotlib.pyplot as plt       
### BEGIN SOLUTION
plt.scatter(lifes, gnps)
plt.xlabel('Life')
plt.ylabel('GNP')
plt.savefig("results/plot7.png")
### END SOLUTION

###### [Back to top](#Index:) 

### Question 8

Perform the following task:

- Based on the scatter plot from **Question 7**,
- Zoom into the scatter plot created in the previous question by setting the plot limits:
```python
plt.xlim(40, 85)
plt.ylim(0, 100000)
```
- Save the plot as `"results/plot8.png"`


**Note:**
- You must continue from the same base plot used in Question 7.
```python
plt.scatter(lifes, gnps)
plt.xlabel('Life')
plt.ylabel('GNP')
```
- Do not add any extra plot elements or labels beyond what was specified earlier.
- Plot validation will fail if additional components are added.
- The saved file must have the exact filename and location for successful validation.

In [ ]:
import psycopg2 as pg
import matplotlib.pyplot as plt       
### BEGIN SOLUTION
# then zoom in
plt.scatter(lifes,gnps)
plt.xlabel('Life')
plt.ylabel('GNP')
plt.xlim(40,85)
plt.ylim(0,100000)
plt.savefig("results/plot8.png")
plt.close()
### END SOLUTION

###### [Back to top](#Index:) 

### Question 9

**Perform the following task:**

- Use the following SQL query, which solves the **"multiple winners problem"** by identifying all customers who placed the highest number of rentals (orders):

  ```sql
  sql = '''WITH top_num_orders AS
            (SELECT COUNT(*) AS num_orders
            FROM customer INNER JOIN rental
            ON customer.customer_id = rental.customer_id
            GROUP BY customer.customer_id
            ORDER BY num_orders DESC 
            LIMIT 1),
            all_customer_orders AS 
              (SELECT customer.customer_id, COUNT(*) AS num_orders 
              FROM rental INNER JOIN customer
              ON customer.customer_id = rental.customer_id 
              INNER JOIN top_num_orders
              ON top_num_orders.num_orders = num_orders
              GROUP BY customer.customer_id
              ORDER BY num_orders DESC)
            SELECT all_customer_orders.customer_id, top_num_orders.num_orders FROM all_customer_orders 
            INNER JOIN top_num_orders
            ON all_customer_orders.num_orders = top_num_orders.num_orders'''
  ```


- Use the **connection** defined at the beginning of this assignment to run the query.
- Load the results into a Pandas DataFrame and assign it to a variable named **`df`**.


**Note:**

- Use `pd.read_sql()` to run the query and load it directly into the DataFrame.
- Make sure the resulting DataFrame contains both `customer_id` and `num_orders` columns as returned by the query.

In [ ]:
df = None
sql = '''WITH top_num_orders AS
        (SELECT COUNT(*) AS num_orders
        FROM customer INNER JOIN rental
        ON customer.customer_id = rental.customer_id
        GROUP BY customer.customer_id
        ORDER BY num_orders DESC 
        LIMIT 1),
        all_customer_orders AS 
          (SELECT customer.customer_id, COUNT(*) AS num_orders 
          FROM rental INNER JOIN customer
          ON customer.customer_id = rental.customer_id 
          INNER JOIN top_num_orders
          ON top_num_orders.num_orders = num_orders
          GROUP BY customer.customer_id
          ORDER BY num_orders DESC)
        SELECT all_customer_orders.customer_id, top_num_orders.num_orders FROM all_customer_orders 
        INNER JOIN top_num_orders
        ON all_customer_orders.num_orders = top_num_orders.num_orders'''

### BEGIN SOLUTION
df = pd.read_sql(sql, con=connection)
### END SOLUTION
#Answer test
df.head()

###### [Back to top](#Index:) 

### Question 10

**Perform the following tasks:**

- Use the **northwind** database to create a DataFrame by executing an SQL query.
- The query should select **all columns** from the `suppliers` table **where the `country` column value is equal to `'Japan'`**. Assign the query (in string format) to the variable **`sql`**.
- Store the resulting data in a Pandas DataFrame and assign it to a variable named **`jpsuppliers_df`**.

**Notes:**
- Use the `pd.read_sql()` method to execute the query and load the results into the DataFrame.
- Make sure that the database connection is made using appropriate credentials. The connection object is given, please do not make changes to it unless necessary.
- Ensure the SQL query includes proper case sensitivity for string literals (i.e., `'Japan'` with capital "J").

In [ ]:
jpsuppliers_df = None  

connection = pg.connect(host = 'localhost',
                       database = 'northwind',
                       user = 'postgres',
                       password = 'codio')
sql = None
### BEGIN SOLUTION
sql = "select * from suppliers WHERE country = 'Japan'"
jpsuppliers_df = pd.read_sql(sql, con=connection)
### END SOLUTION
#Answer test
jpsuppliers_df.head()